// global accent colour
$accent-color: #FF5274;
$accent-color-hover: #D7405D;

//lines
$navigation-line-color: rgba(255, 255, 255, 0.2);
$key-line-color: #E6E9EA;

//typography colors
$txt-primary: rgba(28, 54, 83, 0.6);
$txt-light: #ACB1B4;
$header-color: #3D4351;
$txt-accent: #ACB1B4;

//Layout colors
$section-light: #fff;
$section-dark: #F3F4F8;


$nav-font-color: #fff;
$nav-fixed-bg: rgb(35, 39, 49);

//to-top
$to-top-bg: #495061;

//footer
$footer-bg: #3D4351;
$footer-keyline-color: #4E566C;
