//SIZES
$nav-font-size: 13px;

//FONTS
$sans-serif: 'Open Sans', sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$accent-font: 'Nunito', sans-serif;

//WEIGHTS
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$line-height: 29px;
